{% extends "admin/base.html" %}
{% load i18n  static %}

{% block title %}{{ title }} | {% trans "TABLEAU DE BORD" %}{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin_color.css' %}"/>

<style type="text/css">
textarea  {  height: 200px; }
</style>

{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{% trans "TABLEAU DE BORD" %}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}